.countdown-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.countdown-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.countdown-header h3 {
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.countdown-content {
  display: flex;
  align-items: center;
  gap: 32px;
}

.days-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.days-number {
  font-size: 48px;
  font-weight: 700;
  /*  color: #6a28fc */
  line-height: 1;
}

.days-text {
  font-size: 16px;
  color: #686868;
  font-weight: 500;
}

.next-fair-date {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.next-fair-date span {
  color: #2a2a2a;
  font-size: 16px;
  font-weight: 500;
}

.next-fair-date .name {
  font-weight: 400;
  color: #2a2a2a;
  font-size: 14px;
}
